<div>
	<h2>Top Stories For You</h2>
	<p>What is your question?</p>
	<form method="post" action="/questions">
    <input type=text name="question">
    <input type=submit value="Ask Question">
    </form>
	<% if @questions != nil %>
	  <table border="1">
		<% @questions.each {|question| %>
	 		<tr>
	 			<td><a href="/questions/<%= question.id %>"><%= question.title %></a></td>
	 			<td>
					<% if question.question_votes.where(user_id:current_user.id,upvote:true).count == 0  %>
					<% 	vote_status = "unvoted" %>
					<% else  %>
					<%  vote_status = "voted" %>
					<% end  %>
						<button type="submit" class="button_upvote <%= vote_status %>" id="button_upvote<%= question.id %>" value="<%= question.id %>"">Upvote | <%= question.question_votes.count %>
						</button>
		 			</td>
	 			</tr>
		<% } %>
		</table>
	<% end %>
</div>
